<div>
    <div>
        <div>{{data.title}}</div>
        <div>{{data.last_name}}</div>
        <div>{{data.first_name}}</div>
        <div>{{data.promotion}}</div>
        <div>{{data.gender}}</div>
        <div>{{data.birth}}</div>
        <div>{{data.email}}</div>
        <div>{{data.street_name}}</div>
        <div>{{data.city}}</div>
        <div>{{data.country}}</div>
        <div>{{data.company}}</div>
        <div>{{data.prefered_color}}</div>
        <div>{{data.street_address}}</div>
        <div>{{data.planned_career}}</div>
        <div>{{data.university}}</div>
        <div>{{data.linkedin}}</div>
    </div>
</div>
